git_token_veo3.json
{
  "name": "VEO3 Video Generator_1207",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "254649d2-ec96-46d5-8626-f2c7562388dc"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Run"
            }
          ]
        }
      },
      "name": "Check If Video Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        736,
        208
      ],
      "id": "6a49f15e-d66e-4641-9041-32864c122b2d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1krfImX7FET5Bqku3048LmLilHGn-X5E6tvs1bfItIKE",
          "mode": "list",
          "cachedResultName": "30_Veo3 _ALT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1krfImX7FET5Bqku3048LmLilHGn-X5E6tvs1bfItIKE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1krfImX7FET5Bqku3048LmLilHGn-X5E6tvs1bfItIKE/edit#gid=345862786"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        208
      ],
      "id": "6ce3a589-ee0e-4614-a250-fd48e9829a74",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1krfImX7FET5Bqku3048LmLilHGn-X5E6tvs1bfItIKE",
          "mode": "list",
          "cachedResultName": "30_Veo3 _ALT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1krfImX7FET5Bqku3048LmLilHGn-X5E6tvs1bfItIKE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1krfImX7FET5Bqku3048LmLilHGn-X5E6tvs1bfItIKE/edit#gid=345862786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image1",
              "displayName": "Image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hastag",
              "displayName": "Hastag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image2",
              "displayName": "Image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image3",
              "displayName": "Image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image4",
              "displayName": "Image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Facebook",
              "displayName": "Status Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Youtube",
              "displayName": "Status Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Tiktok",
              "displayName": "Status Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CategoryID",
              "displayName": "CategoryID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Youtube",
              "displayName": "Link Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Tiktok",
              "displayName": "Link Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        208
      ],
      "id": "ea50ca95-1d8e-4a90-a1c6-2c77cddad73e",
      "name": "Update Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.API_ENDPOINT }}/v1/projects/{{ $('Setting').item.json.PROJECT_ID }}/locations/{{ $('Setting').item.json.LOCATION }}/publishers/google/models/{{ $('Setting').item.json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token || $('Get RefreshToken').item.json.access_token || $('Setting').item.json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/{{ $('Setting').item.json.PROJECT_ID }}/locations/{{ $('Setting').item.json.LOCATION }}/publishers/google/models/{{ $('Setting').item.json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $('Setting').item.json.TEXT_PROMPT }}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting').item.json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting').item.json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting').item.json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting').item.json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting').item.json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting').item.json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting').item.json.GENERATE_AUDIO }}\n  }\n}\n",
        "options": {}
      },
      "id": "d8490d2f-3e27-4dc6-b9f3-6b9413dab33d",
      "name": "Vertex AI-VEO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2304,
        208
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "b4ff846d-fd9f-46ca-a073-54b6499bdf67",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2528,
        208
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.API_ENDPOINT }}/v1/projects/{{ $('Setting').item.json.PROJECT_ID }}/locations/{{ $('Setting').item.json.LOCATION }}/publishers/google/models/{{ $('Setting').item.json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token || $('Get RefreshToken').item.json.access_token || $('Setting').item.json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "11f96c40-0f15-4cb3-9778-0425f887ea82",
      "name": "Vertex AI-fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2752,
        128
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2976,
        208
      ],
      "id": "c3544787-4f48-4191-ae73-3f5ee3102e7b",
      "name": "Check Video Ready"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "4a80a78d-ce2a-4baa-9889-cc81162994d2",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3200,
        208
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1iY_yx1D_Y2STKtDMusZ--2sqqlur3ya5",
          "mode": "list",
          "cachedResultName": "11. Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iY_yx1D_Y2STKtDMusZ--2sqqlur3ya5"
        },
        "options": {}
      },
      "id": "4e6f309f-9162-49bb-8a37-e6c2ac64d84e",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3424,
        208
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_DRIVE_ID_67890",
          "name": "Google Drive - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Update Status').item.json.row_number }}",
            "Status": "Success",
            "video_name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image1",
              "displayName": "Image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hastag",
              "displayName": "Hastag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image2",
              "displayName": "Image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image3",
              "displayName": "Image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image4",
              "displayName": "Image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Facebook",
              "displayName": "Status Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Youtube",
              "displayName": "Status Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Tiktok",
              "displayName": "Status Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3648,
        208
      ],
      "id": "8d9f82d6-046b-4bf9-9e99-2a2661f3e079",
      "name": "Update Status to Success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "prn8n-457809"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $('Get row(s) in sheet').item.json.Title }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0Aa7pCA-X_rVe7ZCSDbGLOMOd4R0eB1IJAEPITu_0vOHyZb4JnJETay_U0zc-Cl3SmJwO4apAGygUoGpng8lo1nYWYjemXFiZU7y3APabyg31IIhHHxay5AOCx9vvP0y-eSx4SwcY4m-5TYRF3SHBHy2fmQETjZgnWpNzGYCPd57TM27-q4_i07IAoKs-3D6LOdupagN3ZW7wNcPF7enwkf-rm2bJqA1Cjg7rftuG-1-_i5EIcBn3ROjULPam3_LmaMc38K9PVdMs7sjurD4nnBE1LdC6n2pJouj2FkNaEyGLcHsOFkXYom2nkp71r7RcGuZSe7--Pot5fz7UwlYopNfv64KuxeYZuWE5r9IaCgYKAeESARASFQHGX2MiSoVZslDx83rv0ChS_pgLQg0366"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "755124273289-dn3dhq296thkb497gbq33t374hqdlh28.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04UlNhv1OwelhCgYIARAAGAQSNwF-L9Irzux8a5BvqnNlTGGHD6w7sAhr1vCGE1XmoDiqEYOfYxCtK2lGeqEPiDfOvI0VcbO-kGo"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "2058354f-ddfa-47c7-8762-16243dd61815",
      "name": "Setting",
      "type": "n8n-nodes-base.set",
      "position": [
        1408,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        384,
        1008
      ],
      "id": "088d4958-f66d-4f62-bddf-3044d048ccf0",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get Video List').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        992
      ],
      "id": "5eb1184c-170d-45d4-811b-ba0a864235c4",
      "name": "Download Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_DRIVE_ID_67890",
          "name": "Google Drive - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Limit1').item.json.video_name }}.mp4",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1iY_yx1D_Y2STKtDMusZ--2sqqlur3ya5",
            "mode": "list",
            "cachedResultName": "11. Video_Veo3",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iY_yx1D_Y2STKtDMusZ--2sqqlur3ya5"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        992
      ],
      "id": "cfd61663-2acb-4208-b5af-588ff86601d8",
      "name": "Get Video List",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_DRIVE_ID_67890",
          "name": "Google Drive - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        640,
        1008
      ],
      "id": "e317043c-e9dd-4fc0-a654-cf7bc2054fcc",
      "name": "Lấy Trạng Thái Trong File Google Sheet",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status Facebook": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image1",
              "displayName": "Image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hastag",
              "displayName": "Hastag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image2",
              "displayName": "Image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image3",
              "displayName": "Image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image4",
              "displayName": "Image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Facebook",
              "displayName": "Status Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Youtube",
              "displayName": "Status Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Tiktok",
              "displayName": "Status Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1248,
        992
      ],
      "id": "b33c3405-d025-47ba-9072-70e7e7931943",
      "name": "Cập Nhật Trạng Thái Trong Google Sheet",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "495919ca-ed10-4237-bd79-c42098b08fea",
              "leftValue": "={{ $json['Status Facebook'] }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        1008
      ],
      "id": "23fc4c32-e843-474f-b9b3-2e20ff30d494",
      "name": "Kiểm tra trạng thái của Video"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2800,
        832
      ],
      "id": "bc6fa379-49a5-4c12-b1cf-77ff000170b2",
      "name": "Upload Session"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Cập Nhật Trạng Thái Trong Google Sheet').item.json.row_number }}",
            "Status Facebook": "Success"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image1",
              "displayName": "Image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hastag",
              "displayName": "Hastag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image2",
              "displayName": "Image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image3",
              "displayName": "Image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image4",
              "displayName": "Image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Facebook",
              "displayName": "Status Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Youtube",
              "displayName": "Status Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Tiktok",
              "displayName": "Status Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4336,
        944
      ],
      "id": "0c9744f5-9acc-4036-8a86-15b17313de4b",
      "name": "Cập Nhật Trạng Thái Tải Video Thành Công Trong Google Sheet",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3488,
        960
      ],
      "id": "c064865a-ba61-466d-a195-f9d51fc0d612",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "={{ $('Code in JavaScript').item.json.contentLength }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        960
      ],
      "id": "ee30d973-ab76-4f00-8375-f01ee8579804",
      "name": "Upload Local (Theo tài liệu Facebook)"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_id",
                "value": "={{ $('Upload Session').item.json.video_id }}"
              },
              {
                "name": "upload_phase",
                "value": "finish"
              },
              {
                "name": "video_state",
                "value": "PUBLISHED"
              },
              {
                "name": "description",
                "value": "={{ '🎬 ' + $('Lấy Trạng Thái Trong File Google Sheet').item.json.Title + '\\n\\n✨ ' + $('Lấy Trạng Thái Trong File Google Sheet').item.json.Description }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3984,
        960
      ],
      "id": "cbc1a564-70a6-4bf1-b93d-c163c4d1aef8",
      "name": "Facebook Graph API"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        960,
        208
      ],
      "id": "3135a0b7-e909-4a89-96a8-7ef25fd232e5",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        368,
        1760
      ],
      "id": "79bc1a27-0b4b-44b7-9ddc-436e67f1e335",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "495919ca-ed10-4237-bd79-c42098b08fea",
              "leftValue": "={{ $json['Status Youtube'] }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        1760
      ],
      "id": "f638aa0e-18ad-4d88-93eb-12618e6b34d9",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Limit2').item.json.Title }}",
        "regionCode": "VN",
        "categoryId": "={{ $('Limit2').item.json.CategoryID }}",
        "options": {
          "defaultLanguage": "vi",
          "description": "={{ $('Limit2').item.json.Description }}",
          "embeddable": false,
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2256,
        1728
      ],
      "id": "b40c2ac0-a97b-48c6-954a-39a5f8633691",
      "name": "YouTube"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status Youtube": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image1",
              "displayName": "Image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hastag",
              "displayName": "Hastag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image2",
              "displayName": "Image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image3",
              "displayName": "Image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image4",
              "displayName": "Image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Facebook",
              "displayName": "Status Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Youtube",
              "displayName": "Status Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Tiktok",
              "displayName": "Status Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        1760
      ],
      "id": "964fc632-c012-486f-94ff-a7baaf29c342",
      "name": "Lấy Trạng Thái Trong File Google Sheet1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        1728
      ],
      "id": "472d1ab6-de84-443f-a893-c21d6600e3c0",
      "name": "Download Video1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_DRIVE_ID_67890",
          "name": "Google Drive - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Limit2').item.json.video_name }}.mp4",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1iY_yx1D_Y2STKtDMusZ--2sqqlur3ya5",
            "mode": "list",
            "cachedResultName": "11. Video_Veo3",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iY_yx1D_Y2STKtDMusZ--2sqqlur3ya5"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        1728
      ],
      "id": "b0e8c2da-6082-42ba-9acd-57889c9f3ebd",
      "name": "Get Video List1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_DRIVE_ID_67890",
          "name": "Google Drive - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        656,
        1760
      ],
      "id": "c68bf968-d569-4ab2-928f-7fb193658154",
      "name": "Lấy Trạng Thái Trong File Google Sheet2",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI",
          "mode": "list",
          "cachedResultName": "30_Bai_Viet_Le_Quoc_Tung_Sport_UTF8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345862786,
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y6oLc70XX1BWW4hSh35UdFEL-ByrZ1dZMulzoYtBcYI/edit#gid=345862786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit2').item.json.row_number }}",
            "Status Youtube": "Success",
            "Link Youtube": "=https://www.youtube.com/watch?v={{ $json.uploadId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image1",
              "displayName": "Image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hastag",
              "displayName": "Hastag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image2",
              "displayName": "Image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image3",
              "displayName": "Image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image4",
              "displayName": "Image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Facebook",
              "displayName": "Status Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Youtube",
              "displayName": "Status Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Tiktok",
              "displayName": "Status Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CategoryID",
              "displayName": "CategoryID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Youtube",
              "displayName": "Link Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Tiktok",
              "displayName": "Link Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2608,
        1728
      ],
      "id": "f4f76a18-3cfe-408c-889c-e6c958fddee9",
      "name": "Cập Nhật Trạng Thái Tải Video Thành Công Trong Google Sheet1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "STUDENT_PLACEHOLDER_SHEETS_ID_12345",
          "name": "Google Sheets - Please Configure Your Credentials"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1040,
        992
      ],
      "id": "20af98f5-3169-4a50-b6f9-11a5098d9291",
      "name": "Limit1"
    },
    {
      "parameters": {
        "jsCode": "const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nreturn [{\n  json: {\n    contentLength: binaryBuffer.length // Sẽ ra đúng 4,943,394\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        816
      ],
      "id": "d06bfa8e-58a9-4d77-b48d-5554c76ec558",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        1760
      ],
      "id": "2342fc4a-6fec-4cf8-b328-aadea1a97929",
      "name": "Limit2"
    },
    {
      "parameters": {
        "content": "Cách tạo Video ",
        "height": 592,
        "width": 3744
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "id": "8b22d6da-f1b4-4acb-aaff-bc1fcd060d09",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Post bài lên Facebook\n",
        "height": 768,
        "width": 4320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        672
      ],
      "id": "adcf7fb1-1566-4940-8abc-b39c10904cba",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Post bài lên Youtube\n",
        "height": 528,
        "width": 3232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        1600
      ],
      "id": "f18d9d89-1bc0-4351-ab0c-eb8b3fe14d1f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Setting').item.json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1632,
        112
      ],
      "id": "719f26e4-60c0-4b3e-abec-0f95c543fcaf",
      "name": "CheckTimeToken",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting').item.json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting').item.json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting').item.json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        272
      ],
      "id": "77189b9c-e53d-4efb-9fc6-c6536c4f8325",
      "name": "Get RefreshToken"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily 8AM": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Video Ready": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Check If Video Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch": {
      "main": [
        [
          {
            "node": "Check Video Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update Status to Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "CheckTimeToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Lấy Trạng Thái Trong File Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video List": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Trạng Thái Trong File Google Sheet": {
      "main": [
        [
          {
            "node": "Kiểm tra trạng thái của Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập Nhật Trạng Thái Trong Google Sheet": {
      "main": [
        [
          {
            "node": "Get Video List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra trạng thái của Video": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Session": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Local (Theo tài liệu Facebook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Local (Theo tài liệu Facebook)": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Cập Nhật Trạng Thái Tải Video Thành Công Trong Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lấy Trạng Thái Trong File Google Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Cập Nhật Trạng Thái Tải Video Thành Công Trong Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Trạng Thái Trong File Google Sheet1": {
      "main": [
        [
          {
            "node": "Get Video List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video List1": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Trạng Thái Trong File Google Sheet2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Cập Nhật Trạng Thái Trong Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Lấy Trạng Thái Trong File Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a9d1863-c6de-4b20-b237-809761caf38d",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "LoJoHorSPC65p69M",
  "tags": []
}